{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

	<link rel="icon" type="image/gif/png" href="{% static "F.png" %}">
</head>
<body style="background-color:#e9ebee;">
	<!---Navbar start------------>
	<nav class="nav nav-tabs" style="background-color:#3B5998;">
		<div class="container mt-2 mb-2">
			<div class="row">
				<a class="nav-brand mt-2" href="#" >
				<img src="{% static "ficon.png" %}"  style="height:28px; width:24px;">
			</a>
			<form class="from-inline mt-2">
				<div class="input-group">
				<input type="search" class="form-control ml-2" placeholder="Search"  style="height:27px; width:30em;" name="">
				<div class="input-group-append">
    				<span class="input-group-text" style="height:27px;"><svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></span>
 				</div>
 				</div>

			</form>
			<style type="text/css">
				.s{font-family: Helvetica, Arial, sans-serif;
					font-size: 12px;}
			</style>

			<div class="col-md-2" >



				<a href="{% url 'profile' %}" class="s nav-link float-right text-white"><img src="{{user.profile.profile_pic.url}}" style="height:24px; width:24px; " class="rounded-circle"><b>{{user.first_name}}</b></a>

			</div>
			<div class="col-md-1">

				<a href="{% url 'home'  %}" class="s nav-link text-white"><b>Home</b></a>

			</div>
			<div class="col-md-1">

				<a href="{% url 'create' %}" class="s nav-link text-white"><b>Create</b></a>

			</div>

			<div class="dropdown" >
  <button class="btn btn-secondary dropdown-toggle" style="background-color:#3B5998;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
  </div>
</div>


			</div>



		</div>
	</nav>
<!--------------navbar end-------------------------->

<!--body start-->
<div class="container">
	<div class="row mt-2">
		<div class="col-md-2 borde border-light " style="position:sticky;">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12 mr-2  bg-primary p-1 mb-5 text-center text-white">KNU at a Glance</div>
				</div>
				<ul class="list-group p-1 text-primary">
					<li class="list-group-item"><small> AICT</small></li>
					<li class="list-group-item"><small> BB COLLEGE</small></li>
					<li class="list-group-item"><small> ASANSOL GIRL'S COLLEGE</small></li>
					<li class="list-group-item"><small> TDB COLLEGE</small></li>
					<li class="list-group-item"><small> UGC</small></li>
					<li class="list-group-item"><small> PANDAVESWAR COLLEGE</small></li>
					<li class="list-group-item"><small> NAAC</small></li>
				</ul>
			</div>
		</div>
		<!----------------------main home------------------->
        <div class="col-md-7 borde border-light bg-light "style="border-radius:12px;">


            <div class="row col-md-12 borde mt-4">


                <img src="{{photopost.user.profile.profile_pic.url}}" style="height:66px;width:66px;" class="rounded-circle m-2">
                <div><h5 class="mt-2">{{photopost.user.first_name}} {{photopost.user.last_name}}</h5></div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-12 lead borde"><h6>{{photopost.caption}}</h6></div>

                </div>

            </div>
            <div class="row">
                <div class="container">
                    <img class="col-md-12 borde mb-4" style="max-height:50em;" src="{{photopost.photo.url}}">
                </div>
            </div>
			<style>
				.form-control{
				border-radius:25px;
				width:75%;}
			</style>
			<div class="row">
                <div class="container">
                    <form method="post" action="{% url "comment" %}" enctype="multipart/form-data">{% csrf_token %}
						{{cform|crispy}}

					</form>
                </div>
            </div>
			<div class="row">
				<div class="container">
					<div class="col-md-12">
						<a href="{% url 'comment' %}" class="float-right"><img src="https://img.icons8.com/fluent/50/000000/comments.png"></a>
					</div>
				</div>
			</div>

			<div class="row">
                <div class="container">

					<div class="col-md-12  borde mb-4 ">
						{% for c in post.comments %}
						<div class="row">
							<img src="{{c.user.profile.profile_pic.url}}" style="height:25px;width:25px;" class="rounded-circle">
							<b style="font-family: 'Josefin Sans', sans-serif;">{{c.user.first_name}} {{c.user.last_name}}</b>
						</div>
						<h5 style="font-family: 'Josefin Sans', sans-serif; background-color:#b7dadd;border-radius:25px; padding:1px px 5px 5px;padding-left:5px;"  >{{c}}</h5>
						{% endfor %}
					</div>

                </div>
            </div>






		</div>
		<div class="col-md-3 borde border-ligh ">
			<div class="sidebar bg-light p-3">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h5>January 1st, 2009</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src=""{% static "style/search.png" %}" alt="Search" title="Search" />
          </p>
        </form>
      </div>
		</div>
	</div>
</div>


<!-------body end------------>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>